This is your final curated notebook + code repository. The expectation is that your notebook should tell the story of your project. So it should have (at a minimum) a motivation, a clear question that you are trying to answer, your results and analysis. What is important here is that we do not want (and indeed we will penalize) a shaggy notebook that contains all of your trials and dead-ends. The notebook is designed to be the coherent clean story of your project. Here you can provide your deep analysis, your findings, and your conclusions. You should provide plenty of text boxes to guide us through the notebook -- don't just expect us to read your code; hold our hand and tell us the story of your project!

You will provide a 2-minute video (not 1min 50sec; not 2min 10sec; we want a 2-minute +/- 2 second video!) that serves as an advertisement of your project. You must post your video to YouTube and provide the link. Your goal in the video is to discuss the motivation, the big idea/question, and the big takeaway of your project. Imagine an investor is deciding whether to invest $2million in your project -- your job is to convince us that your problem is an important one, that you have some key insight, and there is some key takeaway. Since you only have 2 minutes, there is not time for any deep technical discussion ... you have the final deliverable (see below) to communicate all of your deep insights. The video is to get us excited and to want to learn more about your amazing project. The style is up to you ... it could be a simple screen capture of you talking over slides or more. You decide what works best.