This is your final curated notebook + code repository. The expectation is that your notebook should tell the story of your project. So it should have (at a minimum) a motivation, a clear question that you are trying to answer, your results and analysis. What is important here is that we do not want (and indeed we will penalize) a shaggy notebook that contains all of your trials and dead-ends. The notebook is designed to be the coherent clean story of your project. Here you can provide your deep analysis, your findings, and your conclusions. You should provide plenty of text boxes to guide us through the notebook -- don't just expect us to read your code; hold our hand and tell us the story of your project!
